.basic-profile {
    background-color: rgb(31, 31, 31);
    color: #fff;
    padding: 20px;
}
.movie-title {
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.125rem;
}
