.wishlist-empty {
	font-size: 18px;
	margin: 25px;
	text-align: center;
	font-family: Verdana, Arial, sans-serif;
	color: #333;
}
.wishlist-msg {
	color: #666;
	display: inline-block;
	font-size: 16px;
	margin: 5px;
	text-align: center;
	font-family: Verdana, Arial, sans-serif;
}
