<div class="container">
	<div class="fx fx-row fx-justify-start fx-align-center fx-gap-16">
		<div class="primary-title">{{ genreName }}</div>
		<mat-form-field appearance="fill">
			<mat-label>Sorted By</mat-label>
			<mat-select [(value)]="selectedFilter">
				<mat-option *ngFor="let item of filterItms" [value]="item.value" (click)="filterValueChange(item.value)">
					{{ item.viewValue }}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<div (click)="orderChange()">
			<mat-icon *ngIf="isAscending" matTooltip="Ascending order" class="cursor-pointer">arrow_upward</mat-icon>
			<mat-icon *ngIf="!isAscending" matTooltip="Descending order" class="cursor-pointer">arrow_downward</mat-icon>
		</div>
	</div>
	<div class="wrap fx fx-row fx-justify-center fx-align-center fx-gap-16">
		<div *ngFor="let item of movieItems">
			<app-movie-item [config]="item"></app-movie-item>
		</div>
	</div>
</div>
