<div class="container fx fx-column" *ngIf="movies.length">
	<div class="primary-title ml-12 mt-16">Recent Movies</div>
	<div class="wrap fx fx-row fx-justify-start">
		<div
			class="p-12 cursor-pointer fx fx-column"
			*ngFor="let movie of movies"
			routerLink="/movies/movie-details/{{ movie.id }}"
		>
			<img *ngIf="movie.poster_path" src="https://image.tmdb.org/t/p/w220_and_h330_face/{{ movie.poster_path }}" />
			<img *ngIf="!movie.poster_path" src="assets/default_poster.jpg" />
		</div>
	</div>
</div>
