.star-icon {
	color: #c39400 !important;
}
.people-icon {
	color: #61c74f !important;
}
.overview,
.title {
	max-width: 250px;
}
.card-content {
	padding-top: 16px;
	height: 450px;
	overflow: hidden;
}
